@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.auth--signup .auth__content {
  order: 1;
}

.auth--signup .auth__visual {
  order: 2;
}

.auth--signup .auth__content {
  padding-block: $space-2xl;
}

.auth--signup .auth-form {
  max-width: 62rem;
}

.auth--signup .auth-divider,
.auth--signup .social-login {
  max-width: 62rem;
}

@include media(tablet) {
  .auth--signup .auth__content {
    order: 1;
  }
}